<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzq.user.dao.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.xzq.user.dao.domain.UserInfoDO">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
        <result column="adress" property="adress"/>
        <result column="gmt_create_user" property="gmtCreateUser"/>
        <result column="gmt_update_user" property="gmtUpdateUser"/>
        <result column="gmt_create_date" property="gmtCreateDate"/>
        <result column="gmt_update_date" property="gmtUpdateDate"/>
    </resultMap>

    <parameterMap id="userInfoDO" type="com.xzq.user.dao.domain.UserInfoDO"/>

    <sql id="Base_Column_List">
		id,user_name, age, adress, gmt_create_user, gmt_update_user, gmt_create_date, gmt_update_date
	</sql>

    <insert id="insert" parameterMap="userInfoDO">
	<selectKey keyProperty="id" resultType="long" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
	INSERT INTO user_info (
			user_name, age, adress, gmt_create_user, gmt_update_user
		)
		VALUES (
			#{userName}, #{age}, #{adress}, #{gmtCreateUser}, #{gmtUpdateUser}
		)
		</insert>


</mapper>